@import '../utils/variables';

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 50px;
    border-radius: 25px;
    background-color: $second-color;
    & a {
        position: relative;
        //margin-top: 40px;
        width: 26%;
        height: 230px;
        .articles-boxes {
            position: relative;
            height: 185px;
            border-radius: 10px;
            // width: 26%;
            //margin-top: 20px;
            //margin-bottom: 20px;
        
                & img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 10px;
                    height: 180px; //110
                }
        
                & h2 {
                    padding: 10px;
                    font-size: 18px;
                    position: absolute;
                    top: 119px;
                    color: $white-color;
                }
            }
    }
}