@import '../utils/variables';


.content {
    max-width: 1440px;
    height: 100vh;
    background: $white-color;
    margin: 0 auto;


    & header .first-child {
        text-decoration: none;
    }
    
    & main{
        text-align: center;
        color: $first-color;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        margin-bottom: 65px;
        & h1{
            font-size: 290px;
            font-weight: 700;
        }
        & p{
            font-size: 36px;
            padding: 30px;
        }
        & a{
            text-decoration: underline;
            color: $first-color;
            font-size: 18px;
        }
    }
}