@import '../utils/variables';
@import '../utils/mixins';


.content {
    background: $white-color;
    margin: 0 auto;
        @include tablet {
                max-width: 992px;
            }

        @include ordi {
            max-width: 1440px;
        }

    & main{
        height: 74vh;  // 76.1 //67.5
        text-align: center;
        color: $first-color;
        margin-top: 30px;
        margin-bottom: 60px;
        @include tablet{
            height: 79.5vh;
        }

        & h1{
            font-size: 140px;
            font-weight: 700;
            @include tablet{
                font-size: 290px;
            }
        }
        & p{
            font-size: 19px;
            padding: 30px;
            @include tablet{
                font-size: 36px;
            }
        }
        & a{
            text-decoration: underline;
            color: $first-color;
            font-size: 16px;

            @include tablet{
                font-size: 18px;
            }
        }
    }

}