@import '../utils/variables';
@import '../base/footer_typography';

footer {
   background-color: $black-color;
   color: $white-color;
   text-align: center;
   padding: 20px;
   & img {
    object-fit: cover;
    width: 5%;
    padding-top: 20px;
    padding-bottom: 10px;
   }
}