@import '../utils/variables';
@import '../utils/mixins';
@import '../base/footer_typography';

footer {
   background-color: $black-color;
   color: $white-color;
   text-align: center;
   padding: 20px;

   & img {
      object-fit: cover;
      width: 19%;
      padding-top: 15px;
      padding-bottom: 10px;
      @include tablet{
         width: 6%;
      }
      @include ordi{
         width: 4%;
      }
   }
}