@import '../utils/variables';
@import '../utils/mixins'; 


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;

    & a:nth-child(1){
        width: 25%;
        @include tablet {
                width: 15%;
            }
    }
        img {
            object-fit: cover;
            width: 45%;
            @include tablet{
                width: 40%;
            }
            @include ordi{
                width: 25%;
            }
        }
        @include tablet {
            margin-top: 30px;
        }
        @include ordi{
            margin-left: 100px;
            margin-right: 100px;
        }
}

nav{
    width: 70%;
    text-align: center;
    @include tablet{
        width: 75%;
    }

    @include ordi{
        width: 50%;
    }
    & ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & li {
            color: $first-color;
            padding: 5px;
            transition: .2s;
            cursor: pointer;
            @include tablet{
                padding: 15px;
            }
        }
    }

}
.nav-active{
    position: relative;

    &::after {
        content: "";
        height: 4px;
        width: 0;
        background-color: $first-color;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim{
            to{
                width: 100%;
            }
        }
        @keyframes anim {
            to{
                width: 100%;
            }
        }
    }
}
